<p id="notice"><%= notice %></p>

<h1>Users</h1>


 <table id="users_list" class="cell-border" style="width:100%" >
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> 

<br>

<%= link_to 'New User', new_user_path %>
